<!DOCTYPE html>
<html>
  <head>
    <title>Authing Demo</title>
    <!-- <link rel="stylesheet" href="/stylesheets/style.css" /> -->
    <style>
      html,
      body {
        height: 100%;
      }
      .container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div>
        当前状态：<%= isLogin ? '已登录' : '未登录' %> <% if (!isLogin) { %>
        <a href="/login">登录</a>
        <a href="/tenant">注册企业</a>
        <% } else { %>
        <a href="/api/logout">登出</a>
        <div>
          用户信息：
          <pre><%=user%></pre>
        </div>
        <div>所属公司：<%=tenant.name%></div>
        <% } %> <% if (isAdmin) { %>
        <div>公司管理：<a href="/oidc-provider">添加 OIDC 配置</a></div>
        <% } %>
      </div>
    </div>
  </body>
</html>
