<!DOCTYPE html>
<html>
  <head>
    <title>Authing Demo</title>
    <link rel="stylesheet" href="/stylesheets/common.css" />
    <style>
      .home-page-demo {
        max-width: 100%;
      }
      .home-logo {
        height: 40px;
      }
      nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 120px;
        height: 70px;
      }
      .home-page-login {
        color: #fff;
        background-color: #3d5ce6;
        height: 40px;
        width: 100px;
        border-radius: 8px;
      }
      .nav-item {
        font-size: 18px;
      }
      .nav-item:not(:first-child) {
        margin-left: 48px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <nav>
        <img class="home-logo" src="/images/logo.png" alt="Logo" />
        <div class="nav-container">
          <span class="nav-item">产品</span>
          <span class="nav-item">解决方案</span>
          <span class="nav-item">客户案例</span>
          <span class="nav-item">价格</span>
          <span class="nav-item">支持</span>
        </div>

        <% if (!user) { %>
        <a href="/login">
          <button class="home-page-login">登录</button>
        </a>
        <% } else { %> <%- include('console/header-actions', {user:user}); -%>
        <% } %>
      </nav>
      <img
        class="home-page-demo"
        src="/images/home-demo.png"
        alt=""
        srcset=""
      />
    </div>
  </body>
</html>
