<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>登录</title>
    <link rel="stylesheet" href="/stylesheets/common.css" />
    <link rel="stylesheet" href="/stylesheets/form.css" />

    <style>
      .container {
        display: flex;
        width: 100%;
        height: 100vh;
        align-items: center;
        justify-content: center;
      }

      .left-bg {
        background-image: url(/images/uthing-bg.png);
        height: 476px;
        width: 519px;
        background-repeat: no-repeat;
        background-size: contain;
        margin-right: 140px;
      }

      .logo {
        width: 131px;
        height: 49px;
        margin-bottom: 67px;
      }
      .sign-in-with {
        font-size: 16px;
        line-height: 175%;

        color: #8a92a6;
      }
      .oidc-item {
        padding: 8px 16px;
        background: #ffffff;
        border: 1px solid #e9ecef;
        box-sizing: border-box;
        border-radius: 4px;
        text-decoration: none;
      }
      .oidc-item,
      .oidc-item:hover,
      .oidc-item:active,
      .oidc-item:visited,
      .oidc-item:focus {
        color: #3d5ce6;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="left-bg"></div>
      <div>
        <img src="/images/logo.png" class="logo" alt="Logo" />
        <h3 class="form-title">
          <%=tenant ? tenant.name + '企业登录界面' : '通用登录界面'%>
        </h3>
        <form class="form" id="loginForm">
          <div>
            <label class="form-label">邮箱：</label>
            <input
              class="form-input"
              required
              name="email"
              placeholder="邮箱"
            />
          </div>

          <div>
            <label class="form-label">密码：</label>
            <input
              class="form-input"
              required
              type="password"
              name="password"
              placeholder="密码"
            />
          </div>
          <button class="form-button" type="submit">登录</button>
        </form>
        <% if (oidcList.length) { %>
        <div>
          <p class="sign-in-with">sign in with</p>
          <% oidcList.forEach(function(oidcItem){%>
          <a class="oidc-item" href="/api/oidc-login/<%=oidcItem.id%>"
            ><%=oidcItem.name %></a
          >
          <% }) %>
        </div>
        <% } %>
      </div>
    </div>
  </body>

  <script>
    document.getElementById('loginForm').addEventListener('submit', (evt) => {
      evt.preventDefault()
      const { email, password } = evt.target.elements
      fetch('/api/login', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({
          email: email.value,
          password: password.value,
        }),
      })
        .then((e) => e.json())
        .then((data) => {
          if (data.code === 200) {
            window.location.href = '/console/dashboard'
          } else {
            alert(data.message)
          }
        })
        .catch(() => {
          alert('网络错误')
        })
    })
  </script>
</html>
