html,
body {
  min-height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

button {
  box-shadow: none;
  outline: none;
  border: none;
  cursor: pointer;
}

button:focus {
  outline: none;
}

.console-layout {
  background-color: #f2f2f2;
  height: calc(100vh - 80px);
  display: flex;
}

.console-main-content {
  flex: 1;
  align-self: stretch;
  padding: 25px;
  min-width: 0;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
